doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Sneaker Collection App
  body 
  .container
    nav 
      h1 Sneaker Collection
      div.nav-links 
        a(href="/collection") Home
        a(href="/collection/brands") Brands
        a(href="/collection/sneakers") Sneakers
      block content