extends layout

block content

  h1 #{title}: #{sneaker.name}

  p Do you really want to delete this sneaker?

  form(action="" method='POST')
    input(type='hidden' name='sneakerid' required='true' value=sneaker._id)
    button(type='submit') Delete